body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  background-color: #003366;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 
}

input, button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input {
  background-color: white;
  color: #003366;
}

button {
  background-color: #000508;  
  color: white;
  transition: background-color 0.2s;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.formulario-tarea {
  display: flex;
  flex-direction: column;
  align-items: center;
}



